services:
  # MariaDB - Database
  mariadb:
    image: mariadb:11.8-noble
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - wp-network
    command: >
      --innodb-buffer-pool-size=64M
      --innodb-buffer-pool-instances=1
      --table-open-cache=400
      --table-definition-cache=400
      --innodb-log-file-size=16M
      --innodb-log-buffer-size=2M
      --max-connections=15
      --thread-cache-size=4
      --sort-buffer-size=512K
      --read-buffer-size=256K
      --read-rnd-buffer-size=256K
      --max-allowed-packet=64M
      --wait-timeout=120
      --interactive-timeout=240
      --skip-name-resolve
      --performance_schema=OFF
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: "0.5"
        reservations:
          memory: 100M


  # WordPress with PHP-FPM
  wordpress:
    image: wordpress:fpm
    restart: unless-stopped
    depends_on:
      - mariadb
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WP_ROCKET_CF_API_KEY: ${CF_API_KEY}
      WORDPRESS_CONFIG_EXTRA: |
        if (!defined('WP_DEBUG')) define('WP_DEBUG', false);
        if (!defined('WP_DEBUG_LOG')) define('WP_DEBUG_LOG', false);
        if (!defined('WP_DEBUG_DISPLAY')) define('WP_DEBUG_DISPLAY', false);
        if (!defined('WP_CACHE')) define('WP_CACHE', true);
        if (!defined('DISABLE_WP_CRON')) define('DISABLE_WP_CRON', true);
        if (!defined('DISALLOW_FILE_EDIT')) define('DISALLOW_FILE_EDIT', true);
        if (!defined('FORCE_SSL_LOGIN')) define('FORCE_SSL_LOGIN', true);
        if (!defined('FORCE_SSL_ADMIN')) define('FORCE_SSL_ADMIN', true);
        if (!defined('FS_METHOD')) define('FS_METHOD', 'direct');
        if (!defined('WP_HTTP_BLOCK_EXTERNAL')) define('WP_HTTP_BLOCK_EXTERNAL', false);
        if (!defined('WP_ACCESSIBLE_HOSTS')) define('WP_ACCESSIBLE_HOSTS', 'nginx,localhost,127.0.0.1');
        
        /* API Key Cloudflare - WP Rocket */
        if (getenv('WP_ROCKET_CF_API_KEY')) {
            define('WP_ROCKET_CF_API_KEY', getenv('WP_ROCKET_CF_API_KEY'));
            define('WP_ROCKET_CF_API_KEY_HIDDEN', true);
        }
    volumes:
      - wordpress-data:/var/www/html
      - ./wordpress/php.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./wordpress/php-fpm.conf:/usr/local/etc/php-fpm.d/zzz-custom.conf
    networks:
      - wp-network
    deploy:
      resources:
        limits:
          memory: 768M
          cpus: "0.5"
        reservations:
          memory: 100M


  # Nginx - Web Server
  nginx:
    image: nginx:1.28-alpine
    restart: unless-stopped
    depends_on:
      - wordpress
    volumes:
      - wordpress-data:/var/www/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/rocket-nginx:/etc/nginx/rocket-nginx:ro
    networks:
      - wp-network
    deploy:
      resources:
        limits:
          memory: 64M
          cpus: "0.5"
        reservations:
          memory: 12M


# Adminer - Database Management
  adminer:
    image: dockette/adminer:full
    restart: unless-stopped
    depends_on:
      - mariadb
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
      ADMINER_DESIGN: pepa-linha-dark
      PHP_CLI_SERVER_WORKERS: 1
    networks:
      - wp-network
    deploy:
      resources:
        limits:
          memory: 32M
          cpus: "0.5"
        reservations:
          memory: 12M


  # File Browser
  filebrowser:
    image: filebrowser/filebrowser:s6
    restart: unless-stopped
    environment:
      - PUID=33
      - PGID=33
    volumes:
      - wordpress-data:/srv
      - ./filebrowser.json:/config/settings.json
      - filebrowser-data:/database
    networks:
      - wp-network
    deploy:
      resources:
        limits:
          memory: 128M
          cpus: "0.5"
        reservations:
          memory: 12M


 # Project Volumes
volumes:
  mariadb-data:
    driver: local
  wordpress-data:
    driver: local
  filebrowser-data:
    driver: local


# Project Networks
networks:
  wp-network:
    driver: bridge
